.nav{
    background-color: #34495E;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 4rem;
}

.name{
    font-size: 2rem;
    margin-left: 1rem;
    padding-top: 0.7rem;
    color: #FFFF;
    text-align: center;
}